.main-content{ 
    font-size:20px;
    margin:auto;
}
.content-otherpages{
    font-size:20px;
    margin:left;
}
.menu{
    font-size:20px;
}
h1{
    font-family:monospace;
    font-size:20px;
    
}
table{
    width:100%;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  .vocab{
    color: purple;
    font-weight: bolder;
}