body{
    background-color: #cc99ff;
}
.main-content{ 
   
    font-size:20px;
    margin:auto;
}
.content-otherpages{
   
    font-size:20px;
    margin:left;
    margin-right:80px;
    margin-left: 80px;
}
.menu{
    font-size:20px;
}
h1{
    font-family:monospace;
    font-size:20px;
    color:#0000ffff;
    
}
table{
    width:100%;
}

.vocab{
    color: #0000ffff;
    font-weight: bolder;
    text-align: left;
}
.row {
    content: "";
    clear: both;
    display: flex;
    text-align:center;
    line-height: 0.0;
  }
